@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:host {
    --font-primary: 'Baloo Bhaijaan 2', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --primary: #c02b28;
    --secondary: #fcbd10;
    --accent: #2b3a67;
    --text: #181f1c;
    --error-color: #f44336;
    --common-white: #ffffff;
    --common-black: #000000;
    --black-087: rgba(0, 0, 0, 0.87);
    --light: #fef7e2;
}

.typography {
    margin: 0px
}

.typography.h0 {
    font-size: 72px;
    font-weight: 600;
    line-height: normal;
}

.typography.h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.typography.h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.typography.h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.typography.secondaryP {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.typography.secondaryCaption {
    font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.typography.secondaryMessage {
    font-family: var(--font-secondary);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.typography.body1 {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}